@{
    ViewData["Title"] = "Planner";

    List<DateTime>
    tijd = new List<DateTime>
        ();

    var today = DateTime.Now;
    var tomorrow = today.AddDays(1);
    var yesterday = today.AddDays(-1);

    for (var i = 0; i < 7; i++)
    {
        tijd.Add(today.AddDays(i));
    }

    <h2>@ViewData["Title"]</h2>

    <iframe src="https://calendar.google.com/calendar/embed?src=1l15kvnbp9l792cmg24erk1neg%40group.calendar.google.com&ctz=Europe%2FAmsterdam" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    @foreach (DateTime dag in tijd)
    {
        <h3>@dag.ToString("d")</h3>
        <partial name="~/Views/Planner/Table.cshtml" />
        <br>
    }
}