@{
    ViewData["Title"] = "Planner";


    List<DateTime>
    tijd = new List<DateTime>
        ();

    var today = DateTime.Now;
    var tomorrow = today.AddDays(1);
    var yesterday = today.AddDays(-1);

    for (var i = 0; i < 7; i++)
    {
        tijd.Add(today.AddDays(i));
    }

    <h2>@ViewData["Title"]</h2>

    @foreach (DateTime dag in tijd)
    {
        <h3>@dag.ToString("d")</h3>
        <partial name="~/Views/Planner/Table.cshtml" />
        <br>
    }
}