@{
    ViewData["Title"] = "Planner";
}
<h2>@ViewData["Title"]</h2>

<p>Use this area to provide additional information.</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Maandag</th>
            <th scope="col">Dinsdag</th>
            <th scope="col">Woensdag</th>
            <th scope="col">Donderdag</th>
            <th scope="col">Vrijdag</th>
            <th scope="col">Zaterdag</th>
            <th scope="col">Zondag</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">09:00-10:00</th>
            <td>ja nee miss</td>
        </tr>
        <tr>
            <th scope="row">10:00-11:00</th>
            <td>ja nee miss</td>
        </tr>
        <tr>
            <th scope="row">11:00-12:00</th>
            <td>ja nee miss</td>
        </tr>
    </tbody>
</table>