<style type="text/css">
    
</style>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Maandag</th>
            <th scope="col">Dinsdag</th>
            <th scope="col">Woensdag</th>
            <th scope="col">Donderdag</th>
            <th scope="col">Vrijdag</th>
            <th scope="col">Zaterdag</th>
            <th scope="col">Zondag</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int i = 8; i < 21; i++)
            {
                int ii = i + 1;
                <tr>
                    <th scope="row">@i:00-@ii:00</th>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary ">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option2" autocomplete="off">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option3" autocomplete="off">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>