@{
    ViewData["Title"] = "Training";
}
<h2>
    @ViewData["Title"];
</h2>

<p>Use this area to provide additional information.</p>foreach

<div class="container-fluid">
    <div class="row">
        <img class="solImage" src="~/images/kommagrafiek.gif" alt="Social.ice Logo" />
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div style="height:400px; background-color:green;" class="col-md-3">
            <p>Weken</p>
        </div>
        <div style="height:400px; background-color:yellow;" class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Afstand</th>
                        <th scope="col">tijd</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="height:400px; background-color:green;" class="col-md-3">
            <p>
                Focuspunten
                Wat is Lorem Ipsum?
                Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. Het heeft niet alleen vijf eeuwen overleefd maar is ook, vrijwel onveranderd, overgenomen in elektronische letterzetting. Het is in de jaren '60 populair geworden met de introductie van Letraset vellen met Lorem Ipsum passages en meer recentelijk door desktop publishing software zoals Aldus PageMaker die versies van Lorem Ipsum bevatten.

            </p>
        </div>
    </div>
</div>